.schedule-item {
    display: none;
    text-align: center;
    font-family: AlibabaPuHuiTi-3-115-Black;
    font-size: 40px;
}
#default-message {
    display: none;
    text-align: center;
    font-family: AlibabaPuHuiTi-3-115-Black;
    font-size: 40px;
}