@charset "UTF-8";
body {
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /*非前缀版本，当前不受任何浏览器*/
}