@charset "UTF-8";
/* 手动切换主题优先级 */
:root[data-theme='light'] body,
:root[data-theme='light'] #div_framework {
    background-color: white !important;
    color: black !important;
}
:root[data-theme='light'] #div_framework table tr td,
:root[data-theme='light'] .table_class td {
    border-color: black !important;
}
:root[data-theme='light'] li {
    color: black !important;
}
:root[data-theme='light'] .first_button:hover,
:root[data-theme='light'] .first_button li:hover {
    background-color: #a6a6a6 !important;
}
:root[data-theme='light'] .first_button ul li {
    background-color: #d3d3d3 !important;
}
:root[data-theme='light'] #schedule_class {
    color: black !important;
}
:root[data-theme='light'] select,
:root[data-theme='light'] option {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}
:root[data-theme='dark'] .overlay {
    background-color: white !important;
}

/* 暗色主题 */
:root[data-theme='dark'] body,
:root[data-theme='dark'] #div_framework {
    background-color: black !important;
    color: white !important;
}
:root[data-theme='dark'] #div_framework table tr td,
:root[data-theme='dark'] .table_class td {
    border-color: white !important;
}
:root[data-theme='dark'] li {
    color: white !important;
}
:root[data-theme='dark'] .first_button:hover,
:root[data-theme='dark'] .first_button li:hover {
    background-color: #1c1c1c !important;
}
:root[data-theme='dark'] .first_button ul li {
    background-color: #212121 !important;
}
:root[data-theme='dark'] #schedule_class {
    color: white !important;
}
:root[data-theme='dark'] select,
:root[data-theme='dark'] option {
    background-color: #222 !important;
    color: white !important;
    border: 1px solid white !important;
}
:root[data-theme='dark'] .overlay {
    background-color: black !important;
}