@charset "UTF-8";
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    transition: background 0.1s ease;
}
body {
    transition: .3s;
}
tr td {
    text-align: center;
}
a  {
    text-decoration: none;/*删除所有情况下a标签的下划线*/
}
/* 新闻显示 */
td[colspan="2"] {
    vertical-align: top !important;
}
.news-section {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.news-section h1 {
    text-align: center;
    margin-bottom: 10px;
}
.news-section h3 {
    text-align: left;
    margin-left: 0;
}
.xinwen p{
    font-size: 16px;
    margin-top: 5px;
}
/* 图片悬浮显示 */
.image-container img {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 200px;
    top: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}
.link-text:hover + .image-container img {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s 0s;
}
.image-container {
    position: relative;
    display: inline-block;
}