@charset "UTF-8";
.overlay {
    position: fixed;
    display: none;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    z-index: 1000;
    transition: .3s;
}
.overlay iframe {
    top: 10%;
    position: absolute;
    width: 100%;
    height: 90%;
    border: none;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.overlay_title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
}

/* 亮色主题下的 overlay 样式 */
@media (prefers-color-scheme: light) {
    .overlay {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
    }
    .overlay iframe {
        background-color: white;
    }
    .overlay_title {
        color: black;
    }
}

/* 暗色主题下的 overlay 样式 */
@media (prefers-color-scheme: dark) {
    .overlay {
        background-color: #333;
        border: 1px solid #666;
    }
    .overlay iframe {
        background-color: black;
    }
    .overlay_title {
        color: white;
    }
}
